/* ------------------------ content main ------------------------ */

.content {
    font-family: "Merriweather", georgia, serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.4;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background-color: #FFF;
    min-height: 300px;
}

.content .post-head {
    margin-bottom: 1em;
}

.content .post-date {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    color: #9f9f9f;
    font-weight: bold;
    font-size: 12px;
    font-size: 0.75rem;
    text-transform: uppercase;
    position: relative;
}

.content .post-date span {
    float: right;
}

.content p {
    margin: .6em 0 1em;
}

.content b, .content strong {
    font-weight: bold;
}

.content>i, .content em {
    font-style: italic;
}

.content h1, .content h2, .content h3, .content h4 {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-weight: bold;
    color: #383838;
}

.content h1 {
    font-size: 28px;
    font-size: 1.75rem;
    margin: .2em 0 .6em;
    line-height: 1.2;
    text-transform: capitalize;
}

.content h2 {
    font-size: 22px;
    font-size: 1.375rem;
}

.content h3 {
    font-size: 18px;
    font-size: 1.125rem;
}

.content h4 {
    font-size: 16px;
    font-size: 1rem;
}

.content h2, .content h3, .content h4 {
    margin: 1em 0 .4em;
}

.content blockquote p {
    font-style: italic;
    font-size: 18px;
    font-size: 1.125rem;
}

.content .cite {
    display: block;
    position: relative;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: -.04em;
    margin-bottom: 2.5em;
}

.content .post-intro {
    font-size: 18px;
    font-size: 1.125rem;
    font-style: italic;
    margin: 1em 0;
}

.content ul, .content ol {
    margin: 1.5em 0;
}

.content li {
    padding: .25em 0;
}

/* ------------------------ hero ------------------------ */

#hero {
    background-color: #1d4d64;
    min-height: 150px;
    padding-bottom: 1em;
    position: relative;
}

.welcome-content {
    min-height: 150px;
}

#hero h1 {
    font-size: 45px;
    font-weight: 300;
}

#hero h2 {
    font-family: "Merriweather", georgia, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
}

#hero .middle-text {
    text-align: center;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 20;
}

#hero .middle-text a.btn {
    margin-top: 20px;
    margin-right: 0;
}

#hero .container {
    display: table;
    height: 150px;
}

#hero #cover-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

/* ------------------------ off-canvas menu ------------------------ */

#wrap {
    position: relative;
    backface-visibility: hidden;
    min-height: 100%;
    min-width: 100%;
    z-index: 1030;
    background-color: #FFF;
    top: 0;
    bottom: 100%;
    left: 0;
}