<!DOCTYPE html>
<html>
  
<head>
  <title>Quality Assessment</title>
  <link rel="stylesheet" href="./static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
</head>

<body class="application">

  <!-- Top bar with title -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Quality Assessment Dashboard</a>
      </div>
    </div>
  </div>

  <!-- Dashboard panels -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">

          <!-- Time Chart --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Summed TQI
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>
  <script src="./static/lib/js/keen.min.js"></script>
  <script src='./static/js/widgets.js' type='text/javascript'></script>

</body>
</html>